body {
    font-family: Bitter;
    background-color: #E0DDAF;
    color: #482894;
    font-size: 15pt;
}

h1, h2, h3{
    font-family: Bungee;
    font-size: 30pt;
    text-align: center;
}

h4, h5, h6 {
    font-family: Bungee;
    font-size: 20pt;
    text-align: center;
}

header {
    text-align: center;
}

#hero, footer{
    border: 5px solid #482894;
    text-align: center;
    background-color: #948B19;
    padding: 10px;
}

#hero img {
    width: 300px
}

#bio {
    text-align: center;
}

#hobbies ul li:nth-child(odd){
    background-color: #948B19;
}
#hobbies ul li:nth-child(even){
    background-color: #A078FF;
}